<!--


<mat-form-field class="w-44 mt-2">
            <mat-label>Size</mat-label>
            <mat-select>
                <mat-option [value]="selectedSize" (click)="changeSize(size)"
                    *ngFor="let size of sizeArray">{{size}}</mat-option>
            </mat-select>
        </mat-form-field>

         

        <div class="wave-group w-28 mr-16 col-span-2">
            <input #txtBoxId required="" type="text"
                class="w-44 input border p-2 outline-none focus:ring-0 focus:border-gray-400">
            <span class="bar"></span>
            <label #lblAddress class="label">
                <span class="label-char" style="--index: 0">B</span>
                <span class="label-char " style="--index: 1">o</span>
                <span class="label-char " style="--index: 2">x</span>
                <span class="label-char " style="--index: 3">&nbsp;</span>
                <span class="label-char " style="--index: 4">i</span>
                <span class="label-char " style="--index: 5">d</span>
            </label>
        </div>


        <div class="grid grid-rows-2 place-items-center mb-5">
            <p class="avb w-18 ml-2">Water proof</p>
            <label class="avb-panel ">
                <input type="checkbox" [checked]="isPreservatives" (change)="preservativesCheckboxChange($event)">
                <span class="checkbox"></span>
            </label>
        </div>


        private Integer itemId;
    private Double volume;
    private CleanerType type;
    private Boolean alcoholFree;
    private Boolean antiFog;
-->

<div class="grid grid-rows-2">

    <div class="grid grid-cols-2 place-items-center">

        <div class="wave-group w-28 mr-16 ">
            <input #txtBoxId required="" type="text"
                class="w-44 input border p-2 outline-none focus:ring-0 focus:border-gray-400">
            <span class="bar"></span>
            <label #lblAddress class="label">
                <span class="label-char" style="--index: 0">C</span>
                <span class="label-char " style="--index: 1">l</span>
                <span class="label-char " style="--index: 2">e</span>
                <span class="label-char " style="--index: 3">a</span>
                <span class="label-char " style="--index: 4">n</span>
                <span class="label-char " style="--index: 5">e</span>
                <span class="label-char " style="--index: 6">r</span>
                <span class="label-char " style="--index: 7">&nbsp;</span>
                <span class="label-char " style="--index: 8">i</span>
                <span class="label-char " style="--index: 9">d</span>
                
            </label>
        </div> 

        <mat-form-field class="w-30 mt-2">
            <mat-label>Type</mat-label>
            <mat-select>
                <mat-option [value]="selectedCleaner" (click)="changeCleanerType(type)"
                    *ngFor="let type of cleanerTypeArray">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="grid grid-cols-4 place-items-center">

        <div class="wave-group w-28 mr-16 col-span-2">
            <input #txtBoxId required="" type="text"
                class="w-44 input border p-2 outline-none focus:ring-0 focus:border-gray-400">
            <span class="bar"></span>
            <label #lblAddress class="label">
                <span class="label-char" style="--index: 0">V</span>
                <span class="label-char " style="--index: 1">o</span>
                <span class="label-char " style="--index: 2">l</span>
                <span class="label-char " style="--index: 3">u</span>
                <span class="label-char " style="--index: 4">m</span>
                <span class="label-char " style="--index: 5">e</span>
            </label>
        </div>

        <div class="grid grid-rows-2 place-items-center ">
            <p class="avb w-21 ml-2">Alcohol Free</p>
            <label class="avb-panel">
                <input type="checkbox" 
                       [checked]="isAlcoholFree" 
                       (change)="onAlcoholFreeChange($event)">
                <span class="checkbox"></span>
            </label>
        </div>

        <div class="grid grid-rows-2 place-items-center ">
            <p class="avb w-16 ml-2">Anti-Fog</p>
            <label class="avb-panel">
                <input type="checkbox" 
                       [checked]="isAntiFog" 
                       (change)="onAntiFogChange($event)">
                <span class="checkbox"></span>
            </label>
        </div>

    </div>



</div>