<div class="grid grid-cols-2 grid-rows-2 pl-4" >
    
    <div class="w-40 mt-3">

        <div class="wave-group mt-3">
            <input #txtAddress required="" type="text" class=" input border p-2 outline-none focus:ring-0 focus:border-gray-400" style="width: 140px;">
            <span class="bar"></span>
            <label #lblAddress class="label">
                <span class="label-char" style="--index: 0">F</span>
                <span class="label-char " style="--index: 1">r</span>
                <span class="label-char " style="--index: 2">m</span>
                <span class="label-char " style="--index: 3">e</span>
                <span class="label-char " style="--index: 4">&nbsp;</span>
                <span class="label-char " style="--index: 5">i</span>
                <span class="label-char " style="--index: 6">d</span>
            </label>
        </div>

    </div>
    


    <div class="ml-4 mt-3">

        <mat-form-field style="width: 155px;">
            <mat-label>Material</mat-label>
            <mat-select>
                <mat-option  [value]="selectedMaterial" (click)="changeMaterial(material)" *ngFor="let material of materialArray">{{material}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    

    <div class="mt-3">

        <mat-form-field style="width: 155px;">
            <mat-label>Gender</mat-label>
            <mat-select>
                <mat-option [value]="selectedGender" (click)="changeGender(gender)" *ngFor="let gender of genderArray">{{gender}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    

    <div class="ml-4 mt-3">

        <mat-form-field style="width: 155px;">
            <mat-label>Shape</mat-label>
            <mat-select>
                <mat-option [value]="selectedShape " (click)="changeShape(shape)" *ngFor="let shape of shapeArray">{{shape}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>


</div>