<!--
    
    <div class="wave-group w-28 mr-15">
            <input #txtVoluem required="" type="number"
                class="w-44 input border p-2 outline-none focus:ring-0 focus:border-gray-400">
            <span class="bar"></span>
            <label #lblAddress class="label">
                <span class="label-char" style="--index: 0">V</span>
                <span class="label-char " style="--index: 1">o</span>
                <span class="label-char " style="--index: 2">l</span>
                <span class="label-char " style="--index: 3">u</span>
                <span class="label-char " style="--index: 4">m</span>
                <span class="label-char " style="--index: 5">e</span>
            </label>
        </div>

    </div>


  
        <mat-form-field class="w-50 mt-2 col-span-2 ml-4">
            <mat-label>Solution type</mat-label>
            <mat-select>
                <mat-option [value]="selectedSolution" (click)="changeSolutionType(solution)" *ngFor="let solution of solutionTypeArray">{{solution}}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <div class="grid grid-rows-2 place-items-center mb-5">
            <p class="avb w-18 ml-2">Water proof</p>
            <label class="avb-panel ">
                <input type="checkbox" [checked]="isPreservatives" (change)="preservativesCheckboxChange($event)">
                <span class="checkbox"></span>
            </label>
        </div>


    private Integer itemId;*****
    private String size;
    private Boolean isNutAndBolt;***
    private NailMaterial material;
    private NailUsage usages;
    private NailThreadType threadType;

-->


<div class="grid grid-rows-3">

    <div class="grid grid-cols-2 place-items-center">

        <div class="wave-group w-28 mr-15">
            <input #txtNailID required="" type="text"
                class="w-44 input border p-2 outline-none focus:ring-0 focus:border-gray-400">
            <span class="bar"></span>
            <label #lblAddress class="label">
                <span class="label-char" style="--index: 0">N</span>
                <span class="label-char " style="--index: 1">a</span>
                <span class="label-char " style="--index: 2">i</span>
                <span class="label-char " style="--index: 3">l &nbsp;</span>
                <span class="label-char " style="--index: 4">i</span>
                <span class="label-char " style="--index: 5">d</span>
            </label>
        </div>

        <div class="wave-group w-28 mr-15">
            <input #txtSize required="" type="number"
                class="w-44 input border p-2 outline-none focus:ring-0 focus:border-gray-400">
            <span class="bar"></span>
            <label #lblAddress class="label">
                <span class="label-char" style="--index: 0">S</span>
                <span class="label-char " style="--index: 1">i</span>
                <span class="label-char " style="--index: 2">z</span>
                <span class="label-char " style="--index: 3">e &nbsp;</span>
                <span class="label-char " style="--index: 4">(mm)</span>
            </label>
        </div>

    </div>


    <div class="grid grid-cols-2 place-items-center">

        <mat-form-field class="w-50 mt-2  ml-4">
            <mat-label>Material</mat-label>
            <mat-select>
                <mat-option [value]="selectedMaterial" (click)="changeMaterial(material)" *ngFor="let material of materialArray">{{material}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="grid grid-rows-2 place-items-center mb-5">
            <p class="avb w-18 ml-2">Nut & bolt</p>
            <label class="avb-panel ">
                <input type="checkbox" [checked]="isNutAndBolt" (change)="nutAndBoltChange($event)">
                <span class="checkbox"></span>
            </label>
        </div>

    </div>


    <div class="grid grid-cols-2 place-items-center">

        <mat-form-field class="w-40 mt-2 mr-5">
            <mat-label>Thread Type</mat-label>
            <mat-select>
                <mat-option [value]="selectedTread" (click)="changeThread(thread)" *ngFor="let thread of threadArray">{{thread}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-40 mt-2 ">
            <mat-label>Usage</mat-label>
            <mat-select>
                <mat-option [value]="selectedUsage" (click)="changeUsage(usage)" *ngFor="let usage of usageArray">{{usage}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>


</div>


