<script src="app.js"></script>
<div class="custom-sidebar">
    <div class="custom-logo-details">
        <i class="bx bx-glasses-alt custom-icon bx-tada" ></i>
        <div class="custom-logo-name">Optical Shop</div>
        <i class="bx bx-menu" id="custom-btn"></i>
    </div>
    <ul class="custom-nav-list">
        <li>
            <i class="bx bx-search"></i>
            <input type="text" placeholder="product id" />
            <span class="custom-tooltip">Search </span>
        </li>
        <li>
            <a href="/analysis">
                <i class="bx bx-grid-alt bx-tada-hover"></i>
                <span class="custom-links-name">Analysis</span>
            </a>
            <span class="custom-tooltip">Analysis</span>
        </li>
        <li>
            <a routerLink="/customer-panel">
                <i class="bx bx-user bx-tada-hover" id="btn-customer"></i>
                <span class="custom-links-name">Customer</span>
            </a>
            <span class="custom-tooltip">Customer</span>
        </li>
        <li>
            <a routerLink="/item-panel">
                <i class="bx bx-glasses-alt bx-tada-hover"></i>
                <span class="custom-links-name">Item</span>
            </a>
            <span class="custom-tooltip">Item</span>
        </li>
        <li>
            <a href="order-details">
                <i class="bx bx-pie-chart-alt-2 bx-tada-hover"></i>
                <span class="custom-links-name">Orders</span>
            </a>
            <span class="custom-tooltip">Orders</span>
        </li>
        
        <li>
            <a href="order-panel">
                <i class="bx bx-cart-alt bx-tada-hover" id="btn-order"></i>
                <span class="custom-links-name">Order</span>
            </a>
            <span class="custom-tooltip">Order</span>
        </li>
        
        
        <li class="custom-profile ">
            <div class="custom-profile-details">
                <img src="" alt="profileImg" />
                <div class="custom-name-job">
                    <div class="custom-name">thilina</div>
                    <div class="custom-job">admin</div>
                </div>
            </div>
            <i class="bx bx-log-out" id="custom-log-out"></i>
        </li>
    </ul>
</div>

<section class="custom-home-section bg-gradient-to-r from-cyan-950 from-cyan-700 from-cyan-900" id="custom-home-section">
    
    <router-outlet></router-outlet>












</section>