

<div class="grid grid-rows-2">

    <div class="grid grid-cols-2 place-items-center">

        <div class="wave-group w-28 mr-15">
            <input #txtClothId required="" type="text"
                class="w-44 input border p-2 outline-none focus:ring-0 focus:border-gray-400">
            <span class="bar"></span>
            <label #lblAddress class="label">
                <span class="label-char" style="--index: 0">C</span>
                <span class="label-char " style="--index: 1">l</span>
                <span class="label-char " style="--index: 2">o</span>
                <span class="label-char " style="--index: 3">t</span>
                <span class="label-char " style="--index: 4">h</span>
                <span class="label-char " style="--index: 5">&nbsp;</span>
                <span class="label-char " style="--index: 6">i</span>
                <span class="label-char " style="--index: 7">d</span>
            </label>
        </div>

        <mat-form-field class="w-35 mt-2">
            <mat-label>Material</mat-label>
            <mat-select>
                <mat-option [value]="selectedMaterial" (click)="changrMaterial(material)"
                    *ngFor="let material of materialArray">{{material}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>


    <div class="grid grid-cols-4 place-items-center">

        <mat-form-field class="w-35 mt-2 col-span-2 mr-8">
            <mat-label>Size</mat-label>
            <mat-select>
                <mat-option [value]="selectedSize" (click)="changeSize(size)"
                    *ngFor="let size of sizeArray">{{size}}</mat-option>
            </mat-select>
        </mat-form-field>


        <div class="grid grid-rows-2 place-items-center">
            <p class="avb w-17 ml-2">Anti Static</p>
            <label class="avb-panel">
                <input type="checkbox" 
                       [checked]="isAntiStatic" 
                       (change)="onAntiStaticChange($event)">
                <span class="checkbox"></span>
            </label>
        </div>

        <div class="grid grid-rows-2 place-items-center">
            <p class="avb w-12 ml-2">Printed</p>
            <label class="avb-panel">
                <input type="checkbox" 
                       [checked]="isPrinted" 
                       (change)="onPrintedChange($event)">
                <span class="checkbox"></span>
            </label>
        </div>


    </div>


</div>